// IMAGES
$logo-sk: url("../images/sk-logo.png");
$logo-sk-alt: url("../images/sk-logo-alt.png");
$logo-sk-white: url("../images/sk-logo-white.png");
.site-header{
	padding-bottom: 10rem;
	&:before{
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;
		bottom: 0;
		width: 60%;
		max-width: 58.125rem;
		background: url(../images/header-img.jpg) no-repeat right top;
		background-size: contain;
	}
	.header-content{
		max-width: 38rem;
		h1{
			max-width: 36rem;
		}
	}
}
// PAGE SECTION
.section{
	position: relative;
	padding: 2.5rem 0;
	@each $name, $pair in $shades-pairs{
		$color: nth($pair, 1);
		$color-invert: nth($pair, 2);
		&.is-#{$name}{
	  		background-color: $color;
	  		color: $color-invert;
	  		a:not(.button):not(.dropdown-item):not(.tag),
	  		strong{
	    		color: inherit;
	  		}
	    }
	}    
}
.reasons{
	margin-top: -5rem;
	.bg-layer,
	.bg-layer .columns{
		position: absolute;
		z-index: -1;
		top: 2%;
		right: 0;
		bottom: 2%;
		left: 0;
		.bg-img{
			background: url(../images/girl_with_phone.svg) no-repeat right center;
			background-size: auto 100%;			
		}		
	}
	.reasons-content{
		max-width: 21.43rem;
		margin: 0 15% 0 0;	
	}
	@include mobile{
		.reasons-section{
			background: $blue-dark;
			// background: $blue-dark url(../images/girl_with_phone_alt.svg) no-repeat right center;
			// background-size: auto 100%;	
    		margin-right: -$sk_gap;	
    		margin-left: -$sk_gap;	
    		padding-right: $sk_gap*2;			
    		padding-bottom: $sk_gap*2;			
    		padding-left: $sk_gap*2;			
		}
		.bg-layer .columns{
			display: none;
		}
		.mobile-img{
			margin: -22% 0 -40% 0;
		    width: 100%;
		    height: auto;
		    min-width: 9rem;
		    max-width: 17.5rem;		
		}	
	}
}
@media screen and (max-width: 36rem){
	.reasons .mobile-img {
		display: none;
	}
}
.emblem-list{
	list-style-type: none;
    padding-left: 0;
    counter-reset: list-counter;
    li{
		counter-increment: list-counter;
    	position: relative;
    	padding-left: 5.125em;
    	padding: .90625em 0 .90625em 5.125em;
    	font-size: 1.125em;
    	line-height: 1.5em;
    	margin-bottom: 1.75em;
    }
    li:before{
    	font-weight: $weight-bold;
    	text-indent: .3em;
    	content: counter(list-counter)".";
    	display: flex;
    	justify-content: center;
    	align-items: center;
    	width: 3.3125em;
    	height: 3.3125em;
    	border-radius: 50%;
    	background: $blue-dark;
    	color: $white;
    	position: absolute;
    	top: 0;
    	left: 0;
    }    
}
.tags-title{
	display: inline-block;;
    margin-top: 0;
	padding: .6875rem 1rem;
	color: $white;
	background: $blue-dark;
}
.logo{
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	&:before{
		content: "";
		display: block;
    	padding-top: 100%;
	}
}
.sk-logo{
	@include bgimg($logo-sk-alt);
	max-width: 14.68rem;
	&:before{
    	padding-top: 51%;
	}
}
.sk-logo-white{
	@include bgimg($logo-sk-white);
	max-width: 14.68rem;
	&:before{
    	padding-top: 51%;
	}
}

.site-header{
	.sk-logo{
		margin: 5rem 0 2.1875rem 0;
	}
}
.language-select{
	position: absolute;
	top: 5rem;
	right: $sk_gap;
}
.stat-circle{
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: calc(100% - 2em);
	margin: 3em 0 3em 0;	
	max-width: 10rem;
	&:before{
		content: "";
		display: block;
		padding-top: 100%;
		box-shadow: 0 0 0 .5em $blue-alt;
		border-radius: 100%;
	}
	.icon{
	    position: absolute;
	    z-index: 1;
	    top: 0;
	    left: 50%;
	    transform: translate3d(-50%, -50%, 0);
	    font-size: 2.8em;
	    line-height: 1em;
	    color: $blue-dark;
	    background: #fafafa;
	    border-left: 0.2em solid #fafafa;
	    border-right: 0.2em solid #fafafa;
	    text-align: center;
	}
	.stat{
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.stat-value{
		    font-weight: 700;
		    font-size: 2.8em;
		    line-height: 1em;		
		}
		.stat-label{
		    text-transform: uppercase;
		}
	}
	@include mobile{
		font-size: .875rem;
		margin: 2em .5em 2em .5em;		
	}
}
.emblem{
	background: $blue-dark;
	color: $white;
	font-size: 1.125rem;
	font-weight: $weight-bold;
	border-radius: 50%;
	width: 4rem;
	height: 4rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	&.is-ordinal{
		text-indent: .3em;
	}
	&.is-success{
		background-color: $green-alt;
	}
}
.plans-figure{
	position: relative;
	display: inline-block;
	max-width: 35rem;
	.plan-details{
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom:0;
	}
	figcaption{
		text-align: center;
		font-style: italic;
		max-width: 20em;
		margin: auto;
	}
}
figure{
	margin: 0;

}
figure.rounded{
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
	min-width: 7rem;
}
.demo-section{
	.card{
		position: relative;
		&:before{
			content: "";
			position: absolute;
			z-index: 1;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			pointer-events: none;
		    background: url(../images/dots.svg) no-repeat 30% 0%;
		    background-size: 70%;
			opacity: .45;
		}
		.card-content{
			position: relative;
			z-index: 2;
		}
	}
	.content-col{
			min-height: 27rem;
	}
	.title{
		margin-top: 0;
		margin-bottom: 1rem;
	}
	.subtitle{
		margin-top: 1rem;
		margin-bottom: 5rem;
	}
	.demo-bg{
		background: url(../images/img-stationary_bicycle.jpg) no-repeat center center;
		background-size: cover;
		position: relative;		
	}
	.cta{
		position: absolute;
		z-index: 2;
		right: 2rem;
		bottom: 2rem;
		left: 2rem;
	}
	.tag{
		margin-right: .5em;
	}	
}
.app-banner{
	background: #20628b;
	background: -moz-linear-gradient(left, #20628b 0%, #2a88b9 50%);
	background: -webkit-linear-gradient(left, #20628b 0%,#2a88b9 50%);
	background: linear-gradient(to right, #20628b 0%,#2a88b9 50%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20628b', endColorstr='#2a88b9',GradientType=1 );
	color: $white;
	padding: 0 1.5rem 0 0;
	margin: 2.5rem 0 2.5rem 5rem;
	p{
		margin: 0;
	}
	.bg-col{
		width: 15%;
	}
	.bg-img{
		width: calc(100% + 5rem);
		// max-width: none;
		max-width: 17.5rem;
		height: 13.5rem;
		margin: -4.125rem 0 -3.5rem -5rem;
	}
	.btn-google-play,
	.btn-app-store{
		width: 100%;
		max-width: 16rem;
	}
	@include mobile{
		padding: 1.5rem;
		margin: 0;
		.bg-col{
			width: auto;
		}		
		.bg-img{
			text-align: center;
			margin: -6rem 0 -1rem 0;
		}
	}
}
.trial-banner{
	background: #7fb8d5;
	background: -moz-linear-gradient(left, #7fb8d5 0%, #274763 50%);
	background: -webkit-linear-gradient(left, #7fb8d5 0%,#274763 50%);
	background: linear-gradient(to right, #7fb8d5 0%,#274763 50%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fb8d5', endColorstr='#274763',GradientType=1 );
	padding: 1.5rem;
	margin-top: 3rem;
	h3{
		color: $white;
		margin: 0;
	}
	.bg-img{
		width: 10rem;
    	margin-top: -11rem;		
	}
	@include mobile {
		background: -moz-linear-gradient(top, #7fb8d5 0%, #274763 80%);
		background: -webkit-linear-gradient(top, #7fb8d5 0%,#274763 80%);
		background: linear-gradient(to bottom, #7fb8d5 0%,#274763 80%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fb8d5', endColorstr='#274763',GradientType=0 );
		margin-top: 0;
		.bg-img{
			display: none;
		}		
	}
}
.download-banner{
	padding: 1.5rem;
	background: #216690;
	background: -moz-linear-gradient(left, #216690 0%, #2a88b9 100%);
	background: -webkit-linear-gradient(left, #216690 0%,#2a88b9 100%);
	background: linear-gradient(to right, #216690 0%,#2a88b9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#216690', endColorstr='#2a88b9',GradientType=1 );
	h3{
		color: $white;
		margin: 0;
	}
	.btn-google-play,
	.btn-app-store{
		width: 100%;
		max-width: 16rem;
	}	
}
.check-form{
	@include mobile {
		display: block!important;
		input{
			border-radius: $radius $radius 0 0;
		}
		.button{
			width: 100%;
			border-radius: 0 0 $radius $radius;
		}
	}	
}
.customer-section{
	.section-title{
		max-width: 53rem;
	}
	.cols{
	  -webkit-columns: 3;
	     -moz-columns: 3;
	          columns: 3;
	  -webkit-column-gap: 10%;
	     -moz-column-gap: 10%;
	          column-gap: 10%;
	  -webkit-column-rule: 1px solid $hairline-color;
	     -moz-column-rule: 1px solid $hairline-color;
	          column-rule: 1px solid $hairline-color;
		@include mobile{
		  -webkit-columns: 1;
		     -moz-columns: 1;
		          columns: 1;
		  -webkit-column-gap: 10%;
		     -moz-column-gap: 10%;
		          column-gap: 10%;
		  -webkit-column-rule: none;
		     -moz-column-rule: none;
		          column-rule: none;			
		}
	}
	.col-box{
		display: block;
	    margin: 0;
	    padding-bottom: 10%;
	    -webkit-column-break-inside: avoid; /* Chrome, Safari */
	    page-break-inside: avoid;           /* Theoretically FF 20+ */
	    break-inside: avoid-column;         /* IE 11 */
	    // display:table;                      /* Actually FF 20+ */
	    p{
    		max-width: 26rem;
    		margin-right: auto;	    	
    		margin-left: auto;	    	
	    }
	    .box-header{
	    	padding-bottom: 1rem;
	    }	
		.name{
		    font-size: 1.125rem;
		    margin: 0;
		}
	}
}
.tutorial-section{
	.emblem{
		margin-bottom: 1.5rem;
	}
}
.prices-section{
	.tabs-label{
		margin: -2rem auto 2rem auto; 
	}
}
.tabs{
	ul{
		display: flex;
		justify-content: center;
		align-items: stretch;
		padding: 0;
		margin: 0 0 1.5rem 0;
	}
	.tab-handle{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 3.125rem;
		padding: 0 2.5rem;
		font-size: 1.125rem;
		line-height: 1.2rem;
		font-weight: $weight-semibold;
		text-transform: uppercase;
		border-radius: $radius;
		background: $white-ter;
		background: #f1f1f1;
		color: $blue-dark;
		cursor: pointer;
    	box-shadow: inset 1px 1px .5rem rgba(0,0,0,.25);	
		&:first-child{
			border-radius: $radius 0 0 $radius;
		}
		&:last-child{
			border-radius: 0 $radius $radius 0;
		}
		&:hover{
			color: $primary;
		}
		&.is-active{
			background: $green;
			color: $white;
			position: relative;
			box-shadow: none;
			&:before{
				position: absolute;
				top: 100%;
				left: 50%;
				transform: translate3d(-50%, 0, 0);
				content: "";
				width: 0;
				height: 0;
				border-style: solid;
				border-width: .75rem .5625rem 0 .75rem;
				border-color: $green transparent transparent transparent;				
			}
		}
		@include mobile {
			font-size: 1rem;
			padding: 0 1.5rem;
		}
	}
}
.tab-content{
	display: none;
	&.is-active{
		display: block;
	}
}
.table{
    width: 100%;
    max-width: 47rem;
    margin: auto;
	@each $name, $pair in $sk-colors{
		$color: nth($pair, 1);
		$color-invert: nth($pair, 2);
		.is-#{$name}{
	  		background-color: $color;
	  		color: $color-invert;
	  		a:not(.button):not(.dropdown-item):not(.tag),
	  		strong{
	    		color: inherit;
	  		}
	    }
	}
	tr:nth-child(odd) td{
		background-color: $white-bis;
	}
	th, 
	td{
		padding: .25rem 1rem;
		line-height: 1.25em;
		min-height: 3.125rem;
		vertical-align: middle;
	}
	th{
		font-size: 1.125rem;
		font-weight: $weight-semibold;
		text-align: center;
	}
	.plan{
		text-transform: uppercase;
		display: block;
	}
	&.has-text-centered{
		td,th{
			text-align: center;
		}
	}
}
.flex-table{
	align-items: stretch;
    width: 100%;
    max-width: 50rem;
    margin: .51rem auto!important;
	.columns.is-gapless:not(:last-child){
		margin-bottom: 0;
	}
	& > .column{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		.table-head-h{
			padding: .25rem 1rem;
			// margin-bottom: auto;
    		align-items: center;
    		justify-content: center;
		    font-size: 1.25rem;
		    line-height: 1.2em;
			font-weight: $weight-semibold;
			.plan{
				text-transform: uppercase;
				display: block;
			}
		}
		.table-head-v{
			padding-right: .5rem;
    		justify-content: flex-end;			
		}		
	}
	.table-cell{
	    display: flex;
	    align-items: center;
		padding: 0;
		min-height: 3rem;
		line-height: 1rem;
		position: relative;
		text-align: center;
		font-size: 1.5rem;
		font-weight: 300;
		.columns{
			width: 100%;
			align-items: center;
		}
	}
	.table-label{
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
	    display: flex;
	    align-items: center;
	    justify-content: center;
		padding: $sk_base*.5;
	}
	@each $name, $pair in $sk-colors{
		$color: nth($pair, 1);
		$color-invert: nth($pair, 2);
		.is-#{$name}{
	  		background-color: $color;
	  		color: $color-invert;
	  		a:not(.button):not(.dropdown-item):not(.tag),
	  		strong{
	    		color: inherit;
	  		}
	    }
	}
	.head-v{
		max-width: 3rem;
	}
	.main-column{
		& > .columns:nth-child(odd){
			background-color: $white-bis;
		}
	}
}
@include mobile{
	.flex-table{
		.table-cell{
			font-size: 1.25rem;
		}
	}
}

.verdict-section{
	.tags{
		color: $blue-light;
		.tag{
			margin-right: .5em;
		}
	}
}
.benefits-section{
	.title{
		margin-top: 0;
	}
	.content{
		margin-bottom: 3rem;
	}
}
.link-list{
	padding: 0;
	margin: 0 0 2rem 0;
	list-style-type: none;
	li{
		margin-bottom: 1.5rem;
	}
	&.has-text-links a:hover{
		text-decoration: underline;
	}
	.icon + .icon{
		margin-left: .5rem;
	}
}
.site-footer{
	.logo{
		margin-bottom: 4rem;
	}
}
.facility-card{
	position: relative;
    display: block;
    flex-direction: column;
	max-width: 19.375rem;
	background: $white;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0;
    word-wrap: break-word;
	box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
	text-decoration: none;
	transition: all 0.3s ease;
	margin: 2rem auto;	
	.card-title{
		font-family: $family-sans-serif-alt;
		background: transparent;
		// font-size: 1.875rem;
		// line-height: 2.375rem;
	    font-size: 1.25rem;
	    line-height: 1.875rem;	
		font-weight: $weight-bold;
		color: $blue-alt;
		padding: 0;
		margin: 0 0 1rem 0;
		height: 3.5rem;
		height: 5.625rem;
		overflow: hidden;
		position: relative;
		&:after{
		    content: "";
		    position: absolute;
		    z-index: 1;
		    top: 3.75rem;
		    right: 0;
		    left: 70%;
		    height: 1.875rem;
		    background: hsla(0,0%,100%,0);
		    background: -webkit-gradient(linear,left top,right top,from(hsla(0,0%,100%,0)),color-stop(70%,#fff));
		    background: linear-gradient(90deg,hsla(0,0%,100%,0) 0,#fff 70%);
		}

	}
	.category{
		position: absolute;
		top: 0;
		left: 0;
		background-color: $green;
		color: $white;
		text-transform: uppercase;
		font-weight: $weight-normal;
		padding: 0 1.25rem;
		height: 2rem;
		line-height: 2rem;
	}
	.card-content{
		padding: 1.125rem;
	}
	.address{
		font-size: .8125rem;
		color: #6c757d;
		margin-bottom: 1.25rem;
    	line-height: 1.5em;
    	height:3em;
	}
	&:after {
	    content: "";
	    position: absolute;
	    z-index: -1;
	    bottom: 0px;
	    left: 10%;
	    right: 10%;
	    width: 80%;
	    height: 10%;
	    border-radius: 100%;
	    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
	    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
    &:hover{
		box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);   
		&:after{
		    box-shadow: 0 0 45px rgba(0, 0, 0, 0.6);
		    bottom: 0px;
		    height: 10%;
		}	
    }
    .card-image{
    	border-bottom:1px solid rgba(18,43,71,.07);
    }
    .card-plans{
    	.icon{
    		display: inline-flex;
    		justify-content: center;
    		align-items: center;
    		font-size: .875rem;
    		width: 1.625rem;
    		height: 1.625rem;
    		border-radius: 50%;
    		background-color: $blue-dark;
    		color: $white;
    		margin-right: .25rem;
    	}
    	.is-disabled{
    		opacity: .35;
    	}
    }
}
#recommendations button{
	outline: none!important;
}
#recommendations.owl-carousel .owl-nav button.owl-next,
#recommendations.owl-carousel .owl-nav button.owl-prev{
	position: absolute;
	bottom: .25rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: .875rem;
	width: 1.625rem;
	height: 1.625rem;
	border-radius: 50%;
	background-color: $blue-dark;
	color: $white;
	margin-right: .25rem;
	&:hover{
		background-color: $blue-alt;
	}
}
#recommendations.owl-carousel .owl-nav button.owl-prev{
	right: 100%;
	transform: translate3d(100%, 0, 0);	
	margin-right: -1.25rem;
}
#recommendations.owl-carousel .owl-nav button.owl-next{
	left: 100%;
	transform: translate3d(-100%, 0, 0);	
	margin-left: -1.25rem;}
.facilities .title{
	margin-top: 0;
	word-break: keep-all;
}
.customer-card{
	max-width: 23rem;
	margin: .5rem auto;
	.name{
		margin: 0 0 .5rem 0;
		font-size: $size-4;
	}
	.rounded{
	    width: 100%;
	    max-width: 8rem;		
	}
	p{
		font-size: 1rem;
	}
}
.contact-section{
	.container{
		max-width: 52rem;
	}
}


.form-error{
	&.text-danger{
		color: $danger;
	}
}
.notification{
	margin-top: 1.5rem;
	&:empty{
		display: none;		
	}
};