// ---------------------
// helper function px to em
// ---------------------
$browser-context: 16;
@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}

// ---------------------
// BG MIXINS
// ---------------------
@mixin bgimg($image) {    
	background: transparent #{$image} no-repeat center center;
	background-size:contain;
}