// ------------------------------------------------------------------------------
// FLEXBOX modifiers  -----------------------------------------------------------
// ------------------------------------------------------------------------------

// Like .is-flex but friendlier init
.flexbox {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;    
}

// FLEXBOX direction  -----------------------------------------------------------

$flex_direction_mods: ('f_row': 'row',
				  	   'f_row-reverse': 'row-reverse',
				  	   'f_col': 'column',
				  	   'f_col-reverse': 'column-reverse');
@each $mod, $rule in $flex_direction_mods{
	.is-#{$mod} {flex-direction: #{$rule} !important}
	@include mobile {
		.is-#{$mod}-mobile {flex-direction: #{$rule} !important}		
	}
	@include touch {
		.is-#{$mod}-touch {flex-direction: #{$rule} !important}		
	}
	@include desktop {
		.is-#{$mod}-desktop {flex-direction: #{$rule} !important}		
	}
}

// FLEXBOX wrap  ----------------------------------------------------------------

$flex_wrap_mods: ('wrap': 'wrap',
				  'nowrap': 'nowrap',
				  'wrap_reverse': 'wrap-reverse');
@each $mod, $rule in $flex_wrap_mods{
	.is-#{$mod} {flex-wrap: #{$rule} !important}
	@include mobile {
		.is-#{$mod}-mobile {flex-wrap: #{$rule} !important}		
	}
	@include touch {
		.is-#{$mod}-touch {flex-wrap: #{$rule} !important}		
	}
	@include desktop {
		.is-#{$mod}-desktop {flex-wrap: #{$rule} !important}		
	}
}

// FLEXBOX flow align  | default:space-between | --------------------------------
$flex_flow_align_mods: ('fa_s_between': 'space-between',
				  		'fa_s_around': 'space-around',
				  		'fa_center': 'center',
				  		'fa_start': 'flex-start',
				  		'fa_end': 'flex-end',
				  		'fa_s_evenly': 'space-evenly');
@each $mod, $rule in $flex_flow_align_mods{
	.has-#{$mod} {justify-content: #{$rule} !important}
	@include mobile {
		.has-#{$mod}-mobile {justify-content: #{$rule} !important}		
	}
	@include touch {
		.has-#{$mod}-touch {justify-content: #{$rule} !important}		
	}
	@include desktop {
		.has-#{$mod}-desktop {justify-content: #{$rule} !important}		
	}
}

// FLEXBOX side align items | default:stretch | ---------------------------------------
$flex_side_align_mods: ('sa_stretch': 'stretch',
				  		'sa_center': 'center',
				  		'sa_start': 'flex-start',
				  		'sa_end': 'flex-end',
				  		'sa_base': 'baseline');
@each $mod, $rule in $flex_side_align_mods{
	.has-#{$mod} {align-items: #{$rule} !important}
	@include mobile {
		.has-#{$mod}-mobile {align-items: #{$rule} !important}		
	}
	@include touch {
		.has-#{$mod}-touch {align-items: #{$rule} !important}		
	}
	@include desktop {
		.has-#{$mod}-desktop {align-items: #{$rule} !important}		
	}
}

// FLEXBOX multiline align | default:stretch | ----------------------------------
$flex_multiline_align_mods: ('ma_s_between': 'space-between',
							 'ma_s_around': 'space-around',
							 'ma_stretch': 'stretch',
							 'ma_center': 'center',
							 'ma_start': 'flex-start',
							 'ma_end': 'flex-end');
@each $mod, $rule in $flex_multiline_align_mods{
	.has-#{$mod} {
		align-content: #{$rule} !important
	}
	@include mobile {
		.has-#{$mod}-mobile {align-content: #{$rule} !important}		
	}
	@include touch {
		.has-#{$mod}-touch {align-content: #{$rule} !important}		
	}
	@include desktop {
		.has-#{$mod}-desktop {align-content: #{$rule} !important}		
	}
}

// FLEXBOX ITEMS | default values  - overwrite these | ------------------------
// flex-grow: 0;		- max grow
// flex-shrink: 1;		- max shrink
// flex-basis: auto; 	- default size
// ----------------------------------------------------------------------------
// flex: 0 1 auto;  	- [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]
// align-self: auto;	- flex-start | flex-end | center | baseline | stretch 
// ----------------------------------------------------------------------------
// .is-no_shrink{
// 	flex: 1 0 auto;
// }
// .is-no_grow {
// 	flex: 0 1 auto;
// }
// .is-full_flex {
// 	flex: 1 1 auto;
// }
// .is-fix {
// 	flex: 0 0 auto;
// }
$flex_item_mods: ('no_shrink': '1 0 0%',
				  'no_grow': '0 1 auto',
				  'full_flex': '1 1 auto',
				  'fix': '0 0 auto',
				  'equal_width': '1');
@each $mod, $rule in $flex_item_mods{
	.is-#{$mod} {flex: #{$rule} !important}
	@include mobile {
		.is-#{$mod}-mobile {flex: #{$rule} !important}		
	}
	@include touch {
		.is-#{$mod}-touch {flex: #{$rule} !important}		
	}
	@include desktop {
		.is-#{$mod}-desktop {flex: #{$rule} !important}		
	}
}

// FLEXBOX ITEMS |  order  | ----------------------------------

@for $i from 1 through 6 {
	.is-order-#{$i} {order: #{$i} !important}
	@include mobile {
		.is-order-#{$i}-mobile {order: #{$i} !important}	
	}
	@include tablet {
		.is-order-#{$i}-tablet {order: #{$i} !important}	
	}	
	@include touch {
		.is-order-#{$i}-touch {order: #{$i} !important}	
	}
	@include tablet {
		.is-order-#{$i}-tablet {order: #{$i} !important}	
	}	
	@include desktop {
		.is-order-#{$i}-desktop {order: #{$i} !important}		
	}
}