// --------------------------
// SOURCE SANS PRO
// --------------------------


// TYPO BASE in PX
//			       			   s7	 		 s6	    	   s5     s4     		s3            s2      s1         
//  font-size :         10  •  12  •  14  •  16  •  18  •  20  •  24  •  28  •  30  •  36  •  40   •  45
//  line-height:                    	     24     25       					40     		  	   	  48
//  desktop             				     p  	h5	   	   				 h4 h3 h2 		   		  h1
//  tablet
//  mobile


// $size-1: 2.8125rem !default 	// 45px
// $size-2: 2.5rem !default    	// 40px
// $size-3: 1.875rem !default	// 30px
// $size-4: 1.5rem !default		// 24px
// $size-5: 1.25rem !default	// 20px
// $size-6: 1rem !default		// 16px
// $size-7: 0.75rem !default	// 12px



h1, .h1 {
	font-weight: $weight-normal;
	text-transform: uppercase;	
	letter-spacing: .02em;
	padding: .6875rem 1rem;
	font-size: $size-1;		// 45px
	line-height: 3rem;		// 48px
	margin-top: 2.5rem;		// 40px
	margin-bottom: 2.5rem;	// 40px
	color: $white;
	// background: $blue-dark;	
	background: rgba(0,23,50,.9);	
}
h2, .h2 {
	font-weight: $weight-normal;
	text-transform: uppercase;	
	letter-spacing: .02em;
	font-size: $size-3;		// 30px
	line-height: 3rem;		// 40px
	margin-top: 2.5rem;		// 40px
	margin-bottom: 2.5rem;	// 40px
	color: $blue-alt;
	strong{
		font-weight: $weight-bold;
	}
}
h3, .h3 {
	font-weight: $weight-semibold;
	text-transform: uppercase;	
	letter-spacing: .02em;
	font-size: $size-3;		// 30px
	line-height: 2.375rem;	// 38px
	margin-top: 2.5rem;		// 40px
	margin-bottom: 2.5rem;	// 40px
	color: $blue-alt;
}
h4, .h4 {
	font-weight: $weight-semibold;
	letter-spacing: .02em;
	font-size: $size-3;		// 30px
	line-height: $size-3;	// 30px
	margin-top: 2.5rem;		// 40px
	margin-bottom: 2.5rem;	// 40px
}
h5, .h5 {
	font-weight: $weight-bold;
	text-transform: uppercase;
	font-size: 1.125rem;	// 18px
	line-height: 1.5625rem;	// 25px
	margin-top: $size-1;	// 45px
	margin-top: $size-1;	// 45px
	color: $blue-light;	
}
.h6 {
	font-weight: $weight-bold;
	font-size: 1.125rem;	// 18px
	line-height: 1.5625rem;	// 25px
	margin-top: $size-1;	// 45px
	margin-bottom: $size-1;	// 45px
}
.is-alt-family{
	font-family: $family-headings;
	font-weight: $weight-light;
}
p{
	font-size: 1.125rem;	// 18px
	line-height: 1.875rem;	// 30px
	margin-top: $size-2;	// 45px
	margin-bottom: $size-2;	// 45px	
}

dl{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
	margin-bottom: $sk_gap;
	dt{
		width: 100%;
		text-transform: uppercase;
		font-weight: $weight-semibold;
		letter-spacing: -.03em;
		display: block;
		line-height: 1rem;
		padding: .25rem 0;
		&.is-normal{
			text-transform: none;
			font-weight: $weight-normal;
		}
	}
	dd{
		width: 100%;
		display: block;
		& + dt{
			margin-top: .5rem;
		}
	}
	&.is-fit{
		margin: 0;
	}
}

p, ul, ol, pre, table, blockquote {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

// /* Let's make sure all's aligned */

// hr, .hr {
//   border: 1px solid;
//   margin: -1px 0;
// }

// a, b, i, strong, em, small, code {
//   line-height: 0;
// }

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

// NUM LIST
.user-content ol,
.num-list{
	position: relative;
	z-index: 1;
	counter-reset: num-list-num;
	margin-left: 1rem;
	margin-bottom: $sk_gap;
	dt,
	li{
		position: relative;
	}
	li{
		min-height: 3em;
		list-style-type: none;
	}
	dt:before,
	li:before{
		content: counter(num-list-num);
		counter-increment: num-list-num;
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		transform: translate3d(-1rem, -.9rem, 0);
		font-size: 4rem;
		line-height: 1em;
		color: #e0e0e0;
		font-weight: 700;
	}
	dd + dt,
	li + li{
		margin-top: $sk_gap;
	}
}
.user-content ul,
.is-dj-bulleted{
    position: relative;
    z-index: 1;
    margin-left: $sk_base*-1;
    padding-left: $sk_base*1.5;
    overflow: hidden;	
	li{
		position: relative;
		// min-height: 3em;
	}
	li:before{
	    content: "";
	    position: absolute;
	    z-index: -1;
	    top: .25em;
	    left: -2rem;
	    height: 1em;
	    width: 1em;
	    background-color: #e0e0e0;
	    border-radius: 100%;
	}
	li + li{
		margin-top: $sk_base;
	}	
}
blockquote{
	position: relative;
	z-index: 1;
	margin: $sk_base 0 $sk_base 1rem;
	.quote{
		position: relative;
	}
	.quote:before{
		content: '';
		position: absolute;
		z-index: -1;
		width: 2.5rem;
		height: 2rem;
		top: 0;
		left: 0;
		transform: translate3d(-.55rem, -.4rem, 0);
		background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd' %5B %3C!ENTITY st0 'fill:%23E0E0E0;'%3E%0A%5D%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 40 32' style='enable-background:new 0 0 40 32;' xml:space='preserve'%3E%3Cg%3E%3Cpath style='&st0;' d='M23.5,32c0-2.4,0-4.6,0-6.8c3.2-0.2,5.8-1.4,7.7-3.9c1.1-1.5,1.7-3.2,1.7-5.2c-3.1,0-6.2,0-9.3,0 c0-5.3,0-10.6,0-16C29,0,34.4,0,39.9,0c0,0.3,0.1,0.7,0.1,1c0,4.9,0,9.9,0,14.8c-0.1,8.3-5.8,14.8-14.2,16.1 C25.1,32,24.3,31.9,23.5,32z'/%3E%3Cpath style='&st0;' d='M0,25.2c6-1,9.6-4.6,9.2-9.2c-3,0-6.1,0-9.2,0C0,10.6,0,5.3,0,0c5.4,0,10.9,0,16.5,0c0,0.4,0,0.7,0,1.1 c0,4.8,0,9.6,0,14.5c0,8.4-5.7,14.9-14.2,16.2C1.6,31.9,0.8,31.9,0,32C0,29.7,0,27.5,0,25.2z'/%3E%3C/g%3E%3C/svg%3E%0A") no-repeat center;
		background-size: contain;
	}
	footer{
		margin-top: $sk_base;
	}
}

// USER CONTENT
.user-content{
	li + li {
	  margin-top: 0.25em;
	}
	p,
	dl,
	ol,
	ul,
	blockquote{
	    &:not(:last-child){
	      margin-bottom: 1em;
	    }
	}
	blockquote {
		background-color: $white-ter;
		border-left: 5px solid #dbdbdb;
		padding: 1.25em 1.5em;
	}

	sup,
	sub {
		font-size: 75%;
	}
}
.content{
	ul,ol{
		list-style: disc;
		// margin: 1rem 0;
		margin: 1.5rem 0;
		padding: 0 0 0 1.5rem;
		li{
			display: list-item;
		}
	}
	ol{
		list-style: decimal;
	}
}