.container
  padding: 0 $grid_gap
  margin: 0 auto
  position: relative  
  max-width: 92.5rem
  @include mobile 
    padding: 0 $sk_gap
  &.is-article
    max-width: 40rem
  &.is-narrow
    max-width: 56.25rem    